<div class="row">
  <div class="col-lg-3">
    <div class="thumbnail phone-thumbnail">
      <img class = "model-image" src="/assets/iphone.jpg" alt="bberry">
      <div class="caption">
        <ul class="cell-info">
          <li><h4 class="phone-name"><%= ad.phone_name %></h4></li>
          <li><h4>CAD <%= ad.price %></h4></li>
        </ul>
        <p><%= ad.title %></p>
      </div>
    </div>
  </div>
</div>
