<div class="container padding-corrected">
  <div class="row">

    <div class="col-lg-9">
      <h2>Nokia</h2>

      <div class="row">
        <div class="col-lg-6">
          <div class="thumbnail">
            <img src="/assets/nokia.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2">
          <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
        </div>
        <div class="col-lg-2">
          <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
        </div>
        <div class="col-lg-2">
          <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
        </div>
        <div class="col-lg-2">
          <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
        </div>
        <div class="col-lg-2">
          <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
        </div>
        <div class="col-lg-2">
          <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
        </div>
      </div>

      <p class="lead"><strong>Price:</strong> $150</p>
      <p class="lead"><strong>General info:</strong></p>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="15%">Brand</th>
                <th width="15%">Model</th>
                <th width="15%">Condition</th>
                <th width="15%">Usage time</th>
                <th width="15%">Carrier </th>
                <th width="15%">Accessories</th>
                <th width="10%">Warranty</th>
              </tr>
            </thead>
            <tbody  class="table-responsive">
              <tr>
                <td>Apple</td>
                <td>iPhone</td>
                <td>Like New</td>
                <td> < 6 months</td>
                <td>Unlocked</td>
                <td>Box</td>
                <td>No</td>
              </tr>
            </tbody>
          </table> <!-- end of table -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="lead"><strong>Description</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas, adipisci atque esse soluta labore autem, quis sequi nisi, deserunt enim quidem ratione. Temporibus magnam, laborum alias et possimus est!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor numquam alias laudantium atque ex deserunt praesentium quidem iste odit eos non, nobis accusantium, tempore quibusdam repudiandae recusandae repellendus vitae consequatur.</p>
        </div>
      </div>
    </div> <!-- end of ad info -->

    <div class="col-lg-3">
      <h3>Seller's Information</h3>
      <ul class="user-info">
        <li><strong>Username:</strong> Pablito</li>
        <li><strong>Location:</strong> Copacabana, Brasil</li>
        <li><strong>Email:</strong> pablito@hotmail.com</li>
        <li><strong>Phone:</strong> 613 786 1324</li>
      </ul>

      <h3>Send a message</h3>

      <form role="form">
        <div class="form-group">
            <label for="name">Name</label><br>
            <input id="name" type="text" class="form-control" placeholder="Your name">
        </div>

        <div class="form-group">
            <label for="email">Email</label><br>
            <input id="email" type="text" class="form-control" placeholder="Your email">
        </div>
        
        <div class="form-group">
            <label for="message">Message</label><br>
            <textarea id="message" class="form-control" rows="5" id="comment" placeholder="Your message"></textarea>
        </div>
        <button id="send-button" type="submit" class="btn btn-default">Send Message!</button>
      </form>

    </div> <!-- end of seller info -->

  </div> <!-- end of wrapper row -->
</div> <!-- end of container -->