<div class="container">
  <div class="row">
    <h2 id="ad_placement">Place Your Ad</h2></br>
    <form role="form">

      <div class="form-group">
        <label for="phone-number">Phone number (idea of showing only if the user have not inserted yet)</label><br>
        <input id="phone-number" type="text" class="form-control" placeholder="Your email">
      </div>

      <div class="form-group">
        <label for="title">Title for your ad</label><br>
        <input id="title" type="text" class="form-control" placeholder="Your title">
      </div>

      <div class="form-group">
        <label for="picture-input">Phone pictures</label>
        <input type="file" id="picture-input">
      </div>
        <img src="/assets/index.svg" id="pic1" class="img-thumbnail">
        <img src="/assets/index.svg" id="pic1" class="img-thumbnail">
        <img src="/assets/index.svg" id="pic1" class="img-thumbnail">
        <img src="/assets/index.svg" id="pic1" class="img-thumbnail">
        <img src="/assets/index.svg" id="pic1" class="img-thumbnail">
      </br>
      </br>

      <div class="form-group">
        <label for="price">Price</label><br>
        <input id="price" type="text" class="form-control" placeholder="Enter the price">
      </div>

      <div class="form-group">
        <label for="brand">Brand</label><br>
        <select class="form-control">
          <option>Apple iPhone</option>
          <option>BenQ</option>
          <option>BlackBerry</option>
          <option>Gradiente</option>
          <option>Hitachi</option>
          <option>HTC</option>
          <option>Huawei</option>
          <option>Kyocera</option>
          <option>LG</option>
          <option>Motorola</option>
          <option>Nokia</option>
          <option>Palm</option>
          <option>Samsung</option>
          <option>Sony Ericsson</option>
          <option>Toshiba</option>
          <option>ZTE</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="model">Model</label><br>
        <input id="model-especify" type="text" class="form-control" placeholder="Especify model">
      </div>

      <div class="form-group">
        <label for="condition">Condition</label><br>
        <select class="form-control">
          <option>Never used</option>
          <option>Like new (no signs of use or scratches)</option>
          <option>Great (minor signs of use or scratches)</option>
          <option>Good (apparent scratches or dents)</option>
          <option>Functional, but with problem (select from below which applies:)</option>
        </select>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox1" value="option1"> Cracked screen
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox2" value="option2"> Touch screen does not work
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox3" value="option3"> Button not working
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox4" value="option4"> Battery does not hold charge for long
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox5" value="option5"> Speakers with problem
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox6" value="option6"> Does not make calls
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox7" value="option7"> Wifi does not work
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox8" value="option8"> 3G/4G does not work
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox9" value="option9"> Headset jack does not work
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox10" value="option10"> Other (especify below)
          </label>
          If other especify:
          <input id="condition-especify" type="text" class="form-control" placeholder="Especify condition">
      </div>

      <div class="form-group">
        <label for="usage">Usage Time</label><br>
        <select class="form-control">
          <option>Never used</option>
          <option>Less than 3 months</option>
          <option>From 3 to 6 months</option>
          <option>From 6 months to a year</option>
          <option>From a year to a year and a half</option>
          <option>From a year and a half to 2 years</option>
          <option>From 2 to 3 years</option>
          <option>From 3 to 4 years</option>
          <option>More than 4 years</option>
        </select>
      </div>

      <div class="form-group">
        <label for="guarantee">Guarantee</label><br>
        <select class="form-control">
          <option>No</option>
          <option>Yes</option>
        </select>
        If Yes especify:
        <input id="guarantee-especify" type="text" class="form-control" placeholder="Especify guarantee">
      </div>

      <div class="form-group">
        <label for="carrier">Carrier</label><br>
        <select class="form-control">
          <option>Unlocked</option>
          <option>Rogers</option>
          <option>Telus</option>
          <option>Bell</option>
          <option>Globalive</option>
          <option>SaskTel</option>
          <option>Videotron</option>
          <option>MTS</option>
          <option>Dave</option>
          <option>Bragg</option>
          <option>TBayTel</option>
          <option>Ice</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comes">Comes with</label><br>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox1" value="option1"> Original receipt
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox2" value="option2"> Original box
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox3" value="option3"> Manual
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox4" value="option4"> Wall charger
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox5" value="option5"> Headphones
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox6" value="option6"> Cable
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox7" value="option7"> Car charger
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox8" value="option8"> Dock
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox9" value="option9"> Case
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox9" value="option9"> Screen protector
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox9" value="option9"> Extra battery
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox9" value="option9"> Memory card
          </label>
          <label class="checkbox">
            <input type="checkbox" id="Checkbox10" value="option10"> Other (especify below)
          </label>
          If other especify:
          <input id="comes-especify" type="text" class="form-control" placeholder="Especify here">
      </div>

      <div class="form-group">
          <label for="description">Any other description (optional)</label><br>
          <textarea id="description" class="form-control" rows="5" id="comment" placeholder="Describe here"></textarea>
      </div>
      <button type="submit" class="btn btn-lg btn-success">Place Ad!</button>
    </form>
  </div>
</div>