<div class="container padding-corrected">
  <div class="row text-center">
    <h3>Pablito's Tent</h3>
  </div> <!-- end of header rows -->
  <div class="row">
    <div class="col-lg-4">
      <img src="/assets/user.jpg" alt="">
    </div>
    <div class="col-lg-4">
      <ul class="user-info">
        <li><strong>Username:</strong> Helena1233</li>
        <li><strong>Location:</strong></li>
        <li><strong>Phone:</strong>613 786 1324</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <ul>
        <li><strong>Feature Items</strong></li>
        <li>Samsumg Galaxy</li>
        <li>iPhone 6</li>
      </ul>
    </div> <!-- end of feature items -->
  </div> <!-- end of header row -->
  <div class="row">
    <div class="col-lg-3">
      <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
    </div>
    <div class="col-lg-3">
      <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
    </div>
    <div class="col-lg-3">
      <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
    </div>
    <div class="col-lg-3">
      <div class="thumbnail"><img src="/assets/nokia.jpg" alt=""></div>
    </div>
  </div>
</div> <!-- end of big wrapper container -->