<div class="jumbotron text-center">
  <h1>Bazaar</h1>
  <h3> We set up the tent. You make the trade</h3>
  <div class="container marketing text-center">
  </br>
  </br>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="/assets/add.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h4>Place/See an Ad</h4>
        <p id="home">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/assets/chat.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h4>Make Contact</h4>
        <p id="home">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/assets/handshake.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h4>Seal the Deal!</h4>
        <p id="home">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <h3>Sign up to sell your stuff</h3>
      <p>It's free and easy</p>
      <form role="form">
        <div class="form-group">
            <input id="username" type="text" class="form-control" placeholder="Username">
        </div>

        <div class="form-group">
            <input id="email" type="text" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
            <input id="password" type="text" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
            <input id="repassword" type="text" class="form-control" placeholder="Re-enter Password">
        </div>
  
        <button id="singup-button" type="submit" class="btn btn-success">Sing Up!</button>
      </form>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <h3>...or start browsing now</h3>
      <div class="btn-group container">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          Select your location <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/ads">Alberta</a></li>
          <li><a href="/ads">British Columbia</a></li>
          <li><a href="/ads">Manitoba</a></li>
          <li><a href="/ads">New Brunswick</a></li>
          <li><a href="/ads">Newfoundland and Labrador</a></li>
          <li><a href="/ads">Nova Scotia</a></li>
          <li><a href="/ads">Ontario</a></li>
          <li><a href="/ads">Prince Edward Island</a></li>
          <li><a href="/ads">Quebec</a></li>
          <li><a href="/ads">Saskatchewan</a></li>
        </ul>
      </div>
    </div>
  </div> <!-- end of signup row -->
</div>