/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  font-family: 'Rozha One', serif;
  border: none;
  margin-bottom: 0px;
  a:link {color: #000 !important; text-decoration: none; }
  a:active {color: #000 !important; text-decoration: none; }
  a:visited {color: #000 !important; text-decoration: none; }
  a:hover {color: #000 !important; text-decoration: none; }
}

.navbar .navbar-toggle .icon-bar {
  background-color: #000;
}

.row { /* Needed to correct page space on the left */
  margin-right: 0px;
}

#main {
  min-height: 350px;
  background: url(phonebg.jpg) 50% 0 repeat fixed;
}

.jumbotron {
  height: 650px;
  background-color: transparent;
  padding-top: 200px;
  font-family: 'Rozha One', serif;
  color: #fff;
}

.featurette {
  margin-top: 50px;
  margin-bottom: 50px;
}

.start {
  margin-top: 100px !important;
  margin-bottom: 120px !important;
}

.checkbox label {
  padding-left: 0px !important;
}

.padding-corrected {
  padding-top: 10px;
}

.alert {
  margin-bottom: -250px;
  margin-left: 250px;
  margin-right: 250px;
}

.panel {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
}

.dropdown-toggle {
  padding-top: 6px !important;
}

#home-location-button {
  padding-left: 0px;
}


/* Form styles
-------------------------------------------------- */

.form-signin {
  max-width: 330px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Ads index page styles
-------------------------------------------------- */

.filter{
  padding-bottom:10%;
}
.dropdown{
  margin-top: 3%;
}

.phone-thumbnail{
  margin-top: 10%;
}

.filter-list{
  list-style: none;
  margin: 0;
  padding:0;
}

.cell-info{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  li{
    display: inline-block;
  }
  li:nth-child(2){
    float:right;
  }
}

.model-image{
  border: solid 1px #ddd;
}

.active-filter{
  padding-left: 15%; 
  padding-top: 2%;
  padding-bottom: 2%;
  color: red;
  a{
    color: red;
  }
}

.filter-heading{
  font-weight: bold;
}

.price-range{
  width: 30%;
  display: inline;
}

#filters-sidebar{
  border-radius: 3px;
  .filter{
    margin-left: 2%;
  }
}

.phone-name{
  font-weight: bold;
}

/* Ads show page styles
-------------------------------------------------- */



.seller-info{
  list-style: none;
  padding-left: 0;
  padding-top: 2%;
}

#send-button{
  float:right;
}

/* Ad placement page styles
-------------------------------------------------- */


.checkbox {
  margin-left: 20px;
  font-weight: normal;

}
/* Ad placement page styles
-------------------------------------------------- */
.user-info{
  list-style: none;
  padding-left: 0;
  li{
    font-size: 1.2em;
  }
}
